html,
body {
    font-size: 16px;
}

.album .album-description {
    padding: 0.625em 0.9375em;
    min-height: 12em;
}

.album .album-title {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1em;
}

.album-title a {
    color: #fff;
}

.album-title a:hover {
    color: #f1f1f1;
}

.panel-heading {
    position: relative;
}

.album .album-date {
    font-size: 1em;
    line-height: 1.1em;
}
.album-input-description {
    min-height: 200px;
    max-width: 100%;
}

.album-name {
    padding: 0.625em 0.9375em;
}

.btn-submit {
    margin-top: 0.625em;
}

.photo .img-thumbnail {
    max-height: 15.625em;
}


@media only screen and (min-width: 1200px) {
    .album .album-title {
        font-size: 1rem;
    }
    .album .album-date {
        font-size: 0.8em;
    }
}